@charset "UTF-8";
/* CSS Document */

body
{
	margin: 0;
	padding: 0;
	background-color:#C39E31;
}

#main
{
	margin: 0;
	padding: 0;
	background-color: #C39E31;
	
}

#content
{
	width: 720px;
	height: 9000px;
	background-color:#896E00;
	margin: 0 auto;
}

#nav
{
	margin: 0;
	padding: 0;
}

#nav ul
{
	margin: 0;
	padding: 0;
	
}

#nav li
{
	list-style-type: none;
	display: inline-block;
	padding: 0 24px;

}

#nav a
{
	font-size: 2em;
	color: aliceblue;
}

#menu
{
	width: 480px;
	margin: 0 auto;
}

#menu ul
{
	margin: 0;
	padding: 0;
	position:relative;
	top: 300px;
}

#menu li
{
	list-style-type: none;
}